<div class="sticky-inner">
  <a class="btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6 roboto-bold" href="#">Ask Question</a>
  <div class="bg-white mb-3">
    <h4 class="px-3 py-4 op-5 m-0">Active Topics</h4>
    <div class="m-0" *ngFor="let topic of topics">
    <div class="pos-relative px-3 py-3">
      <h6 class="text-primary text-sm">
        <a href="#" class="text-primary">{{ topic.title }}</a>
      </h6>
      <p class="mb-0 text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">{{ topic.time }}</a> <span class="op-6">ago by</span> <a class="text-black" href="#">{{ topic.author }}</a></p>
    </div>
  </div>
</div>
</div>
