<div class="row text-left mb-5">
  <div class="col-lg-6 mb-3 mb-sm-0">
    <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
      <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" data-toggle="select" tabindex="-98">
        <option> Categories </option>
        <option> Learn </option>
        <option> Share </option>
        <option> Build </option>
      </select>
    </div>
  </div>
  <div class="col-lg-6 text-lg-right">
    <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" style="width: 100%;">
      <select class="form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" data-toggle="select" tabindex="-98">
        <option> Filter by </option>
        <option> Votes </option>
        <option> Replys </option>
        <option> Views </option>
      </select>
    </div>
  </div>
</div>

<div *ngFor="let post of posts" class="card row-hover pos-relative py-3 px-3 mb-3 border-{{ post.borderColor }} border-top-0 border-right-0 border-bottom-0 rounded-0">
  <div class="row align-items-center">
    <div class="col-md-8 mb-3 mb-sm-0">
      <h5>
        <a href="#" class="text-primary">{{ post.title }}</a>
      </h5>
      <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">{{ post.time }}</a> <span class="op-6">ago by</span> <a class="text-black" href="#">{{ post.author }}</a></p>
      <div class="text-sm op-5">
        <a *ngFor="let tag of post.tags" class="text-black mr-2" href="#">{{ tag }}</a>
      </div>
    </div>
    <div class="col-md-4 op-7">
      <div class="row text-center op-7">
        <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">{{ post.votes }} Votes</span> </div>
        <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">{{ post.replies }} Replys</span> </div>
        <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">{{ post.views }} Views</span> </div>
      </div>
    </div>
  </div>
</div>
